In [4]:
%pylab inline
plt.style.use("bmh")

Populating the interactive namespace from numpy and matplotlib

In [5]:
import numpy as np
import pandas as pd

# Загрузка данных

In [6]:
sensors = pd.read_csv("sensors.csv", index_col="timestamp", parse_dates=["timestamp"])

In [7]:
sensors.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_38,f_39,f_40,f_41,f_42,f_43,f_44,f_45,f_46,f_47
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-10-24 16:00:00,NaN,NaN,NaN,-0.005383,6.251910,0.022304,1.466704,11.173872,236232.328494,239141.739468,...,NaN,NaN,NaN,NaN,NaN,10518.438958,235581.702442,10271.912950,1.718926,64589.460605
2016-10-24 17:00:00,NaN,NaN,NaN,0.103383,6.465077,0.011693,1.267009,12.987551,236736.358537,237598.686177,...,NaN,NaN,NaN,NaN,NaN,10529.380416,236303.564486,10185.329909,18.454216,64736.370856
2016-10-24 18:00:00,NaN,NaN,NaN,-0.004852,6.315273,-0.003072,1.216848,12.824779,235780.400580,238313.969270,...,NaN,NaN,NaN,NaN,NaN,10472.545087,237051.461382,10149.728277,5.764785,64638.208960
2016-10-24 19:00:00,NaN,NaN,NaN,0.131502,6.437954,-0.012240,1.162371,6.678317,236091.381252,238923.480515,...,NaN,NaN,NaN,NaN,NaN,10481.158308,236368.845544,10182.537090,8.330154,64406.958929
2016-10-24 20:00:00,98.912665,0.336871,27.897405,0.018193,6.217860,0.015535,1.287526,5.741191,234844.641480,237358.261098,...,NaN,NaN,NaN,NaN,NaN,10488.938655,235311.403403,10064.373899,7.222850,64137.307707

In [8]:
sensors.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13272 entries, 2016-10-24 16:00:00 to 2018-04-30 15:00:00
Data columns (total 48 columns):
f_0     584 non-null float64
f_1     576 non-null float64
f_2     580 non-null float64
f_3     13241 non-null float64
f_4     13084 non-null float64
f_5     13266 non-null float64
f_6     13260 non-null float64
f_7     13244 non-null float64
f_8     13266 non-null float64
f_9     13266 non-null float64
f_10    13266 non-null float64
f_11    13266 non-null float64
f_12    13266 non-null float64
f_13    13266 non-null float64
f_14    13266 non-null float64
f_15    13266 non-null float64
f_16    13266 non-null float64
f_17    13266 non-null float64
f_18    13266 non-null float64
f_19    13266 non-null float64
f_20    13266 non-null float64
f_21    13178 non-null float64
f_22    13266 non-null float64
f_23    13267 non-null float64
f_24    13266 non-null float64
f_25    13211 non-null float64
f_26    13266 non-null float64
f_27    13267 non-null float64
f_28    13264 non-null float64
f_29    13265 non-null float64
f_30    13117 non-null float64
f_31    13263 non-null float64
f_32    13267 non-null float64
f_33    13137 non-null float64
f_34    13183 non-null float64
f_35    13136 non-null float64
f_36    5503 non-null float64
f_37    5503 non-null float64
f_38    5505 non-null float64
f_39    5512 non-null float64
f_40    5644 non-null float64
f_41    513 non-null float64
f_42    517 non-null float64
f_43    13185 non-null float64
f_44    13185 non-null float64
f_45    13185 non-null float64
f_46    12852 non-null float64
f_47    13253 non-null float64
dtypes: float64(48)
memory usage: 5.0 MB

# Пропуски в данных

In [9]:
TR_END = "2017-12-31 23:00:00"

In [10]:
sensors.ffill(inplace=True)
sensors.fillna(sensors[:TR_END].mean(), inplace=True)

In [11]:
sensors.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 13272 entries, 2016-10-24 16:00:00 to 2018-04-30 15:00:00
Data columns (total 48 columns):
f_0     13272 non-null float64
f_1     13272 non-null float64
f_2     13272 non-null float64
f_3     13272 non-null float64
f_4     13272 non-null float64
f_5     13272 non-null float64
f_6     13272 non-null float64
f_7     13272 non-null float64
f_8     13272 non-null float64
f_9     13272 non-null float64
f_10    13272 non-null float64
f_11    13272 non-null float64
f_12    13272 non-null float64
f_13    13272 non-null float64
f_14    13272 non-null float64
f_15    13272 non-null float64
f_16    13272 non-null float64
f_17    13272 non-null float64
f_18    13272 non-null float64
f_19    13272 non-null float64
f_20    13272 non-null float64
f_21    13272 non-null float64
f_22    13272 non-null float64
f_23    13272 non-null float64
f_24    13272 non-null float64
f_25    13272 non-null float64
f_26    13272 non-null float64
f_27    13272 non-null float64
f_28    13272 non-null float64
f_29    13272 non-null float64
f_30    13272 non-null float64
f_31    13272 non-null float64
f_32    13272 non-null float64
f_33    13272 non-null float64
f_34    13272 non-null float64
f_35    13272 non-null float64
f_36    13272 non-null float64
f_37    13272 non-null float64
f_38    13272 non-null float64
f_39    13272 non-null float64
f_40    13272 non-null float64
f_41    13272 non-null float64
f_42    13272 non-null float64
f_43    13272 non-null float64
f_44    13272 non-null float64
f_45    13272 non-null float64
f_46    13272 non-null float64
f_47    13272 non-null float64
dtypes: float64(48)
memory usage: 5.6 MB

# Базовые признаки

In [12]:
features = []

for period in [12, 24, 48, 168]:
    rolling_avg = (sensors
                   .rolling("%iH" % period)
                   .mean()
                   .rename(lambda x: "_".join([x, "%ih" % period, "avg"]), axis=1))
    rolling_std = (sensors
                   .rolling("%iH" % period)
                   .std()
                   .rename(lambda x: "_".join([x, "%ih" % period, "std"]), axis=1))
    features.append(rolling_avg)
    features.append(rolling_std)

In [13]:
features = pd.concat(features, axis=1)
features = sensors.join(features)

In [14]:
features["dayofweek"] = features.index.dayofweek
features["month"] = features.index.month

In [15]:
features.head()

,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,...,f_40_168h_std,f_41_168h_std,f_42_168h_std,f_43_168h_std,f_44_168h_std,f_45_168h_std,f_46_168h_std,f_47_168h_std,dayofweek,month
timestamp,,,,,,,,,,,,,,,,,,,,,
2016-10-24 16:00:00,99.106443,0.240229,26.415117,-0.005383,6.251910,0.022304,1.466704,11.173872,236232.328494,239141.739468,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,10
2016-10-24 17:00:00,99.106443,0.240229,26.415117,0.103383,6.465077,0.011693,1.267009,12.987551,236736.358537,237598.686177,...,0.0,0.0,0.0,7.736779,510.433547,61.223455,11.833637,103.881235,0,10
2016-10-24 18:00:00,99.106443,0.240229,26.415117,-0.004852,6.315273,-0.003072,1.216848,12.824779,235780.400580,238313.969270,...,0.0,0.0,0.0,30.155755,734.917900,62.840000,8.731748,74.827337,0,10
2016-10-24 19:00:00,99.106443,0.240229,26.415117,0.131502,6.437954,-0.012240,1.162371,6.678317,236091.381252,238923.480515,...,0.0,0.0,0.0,27.757317,600.724991,52.253753,7.131191,138.109388,0,10
2016-10-24 20:00:00,98.912665,0.336871,27.897405,0.018193,6.217860,0.015535,1.287526,5.741191,234844.641480,237358.261098,...,0.0,0.0,0.0,24.577134,690.430193,74.738270,6.204980,236.201523,0,10

# Построение моделей

In [16]:
from sklearn.linear_model import ElasticNet
from sklearn.model_selection import TimeSeriesSplit, GridSearchCV
from sklearn.metrics import mean_squared_error
#from catboost import CatBoostRegressor

In [17]:
np.random.seed(382745)

In [18]:
features_tr = features[:"2017-10-31 23:00:00"].copy()
features_cv = features["2017-11-01 00:00:00":"2017-12-31 23:00:00"].copy()
features_ts = features["2018-01-01 00:00:00":].copy()

In [19]:
features_tr = features_tr[~features_tr.isnull().any(axis=1)]

In [20]:
cv = TimeSeriesSplit(3)

In [21]:
params = {"alpha":[1e3, 1e4, 1e5], "l1_ratio":[0.8, 0.9]}

In [22]:
target_pairs = zip(("coke", "reactor_pressure"),
                   ("coke_target.csv", "reactor_pressure_target.csv", "temp_on_he_target.csv"))
#target_pairs = zip(("coke", "reactor_pressure", "he_temp", "he_pressure", "activity"),
#                   ("coke_target.csv", "reactor_pressure_target.csv", "temp_on_he_target.csv",
#                    "pressure_he_target.csv", "activity_target.csv"))

In [23]:
models = {}

for ti, (target_name, target) in enumerate(target_pairs):
    print("Таргет:", target_name)
    target = pd.read_csv(target, index_col="timestamp")
    tr_fts = features_tr.join(target)
    cv_fts = features_cv.join(target)

    gs = GridSearchCV(ElasticNet(),
                      param_grid=params,
                      cv=cv,
                      scoring="neg_mean_squared_error",
                      n_jobs=1,
                      verbose=1)
    gs.fit(tr_fts[features_ts.columns], tr_fts["target"])
    models[target_name] = {"model":gs}
    
    trpr = gs.predict(tr_fts[features_ts.columns])
    cvpr = gs.predict(cv_fts[features_ts.columns])

    print("RMSE на тренировочном множестве:", np.sqrt(mean_squared_error(tr_fts["target"], trpr)))
    print("RMSE на cv множестве:", np.sqrt(mean_squared_error(cv_fts["target"], cvpr)))

    tspr = gs.predict(features_ts)
    submission = pd.DataFrame(tspr, index=features_ts.index, columns=["target"])
    submission.to_csv("baseline_%s.csv" % target_name)

Таргет: coke
Fitting 3 folds for each of 6 candidates, totalling 18 fits

[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:    1.6s finished

RMSE на тренировочном множестве: 0.5251839739646156
RMSE на cv множестве: 0.27919388419998287
Таргет: reactor_pressure
Fitting 3 folds for each of 6 candidates, totalling 18 fits

[Parallel(n_jobs=1)]: Done  18 out of  18 | elapsed:    5.2s finished

RMSE на тренировочном множестве: 5.224887228970727
RMSE на cv множестве: 14.092394026475258

In [26]:
models['coke']['model'].

GridSearchCV(cv=TimeSeriesSplit(max_train_size=None, n_splits=3),
       error_score='raise',
       estimator=ElasticNet(alpha=1.0, copy_X=True, fit_intercept=True, l1_ratio=0.5,
      max_iter=1000, normalize=False, positive=False, precompute=False,
      random_state=None, selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid=True, n_jobs=1,
       param_grid={'alpha': [1000.0, 10000.0, 100000.0], 'l1_ratio': [0.8, 0.9]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=1)